.layout.layout_img{
    background-image: url(/assets/pexels-andrea-piacquadio-3777572\ 1.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
